/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5em;
    margin: 0;
    font-weight: 300;
    background-color: #eee;
    font-size: 15px;
    color: #222;
}

a {
    color: #222;
    text-decoration: none;
}

header {
    border-bottom: 1px solid lightgray;
    background-color: #fff;
    height: 60px;
    text-align: center;
    padding-top: 13px;
    box-sizing: border-box;
}

section {
    height: calc(100vh - 60px);
    position: relative;
}

.login {
    width: 360px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-type h1 {
    margin-top: 0;
    font-size: 38px;
    text-align: center;
    font-weight: normal;
}

.btn {
    border: 1px solid lightgray;
    display: block;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
    opacity: 0.8;
}

.btn:hover {
    opacity: 1;
}

.btn:nth-of-type(1) {
    color: #222;
    /*background-image: url(images/logo-mobile.png);
  background-repeat: no-repeat;
  background-position: center left;*/
    background: #fff url(images/logo-mobile.png) no-repeat center left 10px;
}

.btn:nth-of-type(2) {
    background: #898c9b url(images/logo-email.png) no-repeat center left 13px;
}

.btn:nth-of-type(3) {
    background: #11ce00 url(images/logo-naver.png) no-repeat center left 13px;
}

.btn:nth-of-type(4) {
    background: #0076fe url(images/logo-facebook.png) no-repeat center left 13px;
}

.btn:nth-of-type(5) {
    background: #00C026 url(images/logo-line.png) no-repeat center left 10px;
}

.or-text {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

.or-text:before,
.or-text:after {
    content: '';
    background-color: lightgray;
    height: 1px;
    width: 44%;
    position: absolute;
    top: 9px;
}

.or-text:before {
    left: 0;
}

.or-text:after {
    right: 0;
}

.login-footer p {
    text-align: center;
}

.login-footer p a {
    font-weight: normal;
}

.login-footer p a:hover {
    text-decoration: underline;
}
